body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem; /* 1em= 100% = 16px*/
  color: #66bfbf; /*  percents,em are inhenrited*/
  /*rem ignores the inherited parent settings*/
}
h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #66bfbf;
}
span {
  padding-left: 10px;
}
p {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}
.top-cloud {
  position: absolute;
  right: 400px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 17rem;
  top: 16rem;
}

h3,
a {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
a:hover {
  color: #eaf6f6;
}
span {
  font-family: "Marck Script", cursive;
}
.header-desc {
  color: #66bfbf;
}
.top-container {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
}
hr {
  /*border-style: none;
  border-top-style: dotted;
  border-top-width: 10px;
  width: 7%;
  border-top-color: #eaf6f6;
  display: inline-block;
  margin: 60px;*/
  border: dotted #eaf6f6 10px;
  border-bottom: none;
  width: 7%;
  margin: 70px auto;
}
.profile-pic {
  border-radius: 50%;
  height: 200px;
}
.profile-desc {
  /*display: inline-block;
  text-align: center;*/
  width: 40%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 60px auto 50px auto;
  text-align: justify;
}
.skill-img1 {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.skill-img2 {
  width: 25%;
  float: right;
  padding-left: 30px;
}

.middle-container {
  padding: 60px;
}
.contact-msg {
  width: 40%;
  margin: 40px auto;
}
.pre-contact {
  font-size: 1em;
}
.contact {
  /*-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin: 30px auto 12px;
  padding: 10px;
  background-color: #66bfbf;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;*/
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #66bfbf;
  margin: 30px auto 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact:hover {
  background: #96e6a1;
  border: solid #96e6a1 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 35px 0 15px;
}
.footer-link {
  padding: 20px;
  text-decoration: none;
}
.footer-info {
  color: #eaf6f6;
  padding: 10px 0;
  font-size: 0.75rem;
}
